doctype html 
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        title Denim Shop Nîmes
        link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
    body
        header.header.containers
            nav.header__navigation
                ul.header__list
                    li.header__item 
                        a.header__link(href="#") Woman
                    li.header__item 
                        a.header__link(href="#") Man
                    li.header__item 
                        a.header__link(href="#") New
                button.header__burger-menu(type="button")
                button.header__close(type="button") Close
                a.header__logo.logo(href="index.html") Nîmes
                div.header__wrap
                    a.header__cart(href="#")
                        img.header__cart-img(src="assets/img/cart.svg" alt="Cart")
                    a.header__search(href="#")
                        img.header__search-img(src="assets/img/search.svg" alt="Search")
        block content
        footer.footer
            div.containers
                a.footer__logo.logo.logo--white(href="index.html") Nîmes
                ul.footer__list
                    li.footer__item 
                        a.footer__link(href="#") Shop
                    li.footer__item 
                        a.footer__link(href="#") Delivery
                    li.footer__item 
                        a.footer__link(href="#") Service
                    li.footer__item 
                        a.footer__link(href="#") Sitemap
                    li.footer__item 
                        a.footer__link(href="#") Contacts
                ul.footer__socials
                    li.footer__social-item
                        a.footer__social-link.footer__social-link--facebook(href="#")
                    li.footer__social-item
                        a.footer__social-link.footer__social-link--inst(href="#")
                    li.footer__social-item
                        a.footer__social-link.footer__social-link--pinterest(href="#")
                    li.footer__social-item
                        a.footer__social-link.footer__social-link--tweeter(href="#")
        script(src="./assets/js/scripts.js")
