@import "variables.scss";

html {
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
}

body {
    font-size: 1.8rem;
    line-height: 2.1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containers {
    width: 136.6rem;
    padding: 0 9.8rem;
    margin: 0 auto;

    @media screen and (max-width: 1366px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        padding: 0 4.5rem;
    }

    @media screen and (max-width: 576px) {
        padding: 0 1.5rem;
    }
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

fieldset {
	border: none;
}

.visually-hidden {
	position: absolute;
	font-size: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #FFFFFF;
    background-color: $black-color;
    font-weight: bold;
    padding: 2.5rem 2.4rem;
    text-align: center;

    @media screen and (max-width: 576px) {
        padding: 2.5rem 1.6rem;
    }
}

.link-all {
    display: block;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $black-color;
    border-bottom: 2px solid $black-color;
    padding-bottom: 0.4rem;
    margin-bottom: auto;

    @media screen and (max-width: 576px) {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}

.subtitle {
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: $black-color;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        font-size: 2.8rem;
        line-height: 3.3rem;
    }

    @media screen and (max-width: 576px) {
        font-size: 2.6rem;
        line-height: 3rem;
    }
}

