@import 'variables.scss';
.breadcrumbs {
    display: flex;
    margin-bottom: 4rem;
    flex-wrap: wrap;

    &__link {
        display: block;
        position: relative;
        padding-right: 3rem;
        color: $gray-color;
        white-space: nowrap;

        &::after {
            content: "/";
            position: absolute;
            right: 1rem;
            top: 0;
        }

        &--active {
            padding-right: 0;
            color: $black-color;

            &::after {
                display: none;
            }
        }
    }
}