@import 'variables.scss';

.category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 13rem;

    @media screen and (max-width: 768px) {
        margin-bottom: 10rem;
    }

    @media screen and (max-width: 576px)  {
        margin-bottom: 6rem;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
        }
    }

    &__title {
        margin-bottom: 6rem;

        @media screen and (max-width: 768px) {
            margin-bottom: 5rem;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 4rem;
        }
    }

    &__item {
        width: 23%;

        @media screen and (max-width: 991px) {
            width: 47.7%;

            &:nth-child(3) {
                order: 1;
            }

            &:nth-child(4) {
                padding-top: 5rem;
            }
        }

        @media screen and (max-width: 576px) {

            &:nth-child(4) {
                padding-top: 2.5rem;
            }
        }
    }
    

    &__img-wrap {
        margin-bottom: 2rem;

        @media screen and (max-width: 576px) {
            margin-bottom: 1rem;
        }

        &--big {
            height: 35rem;

            @media screen and (max-width: 576px) {
                height: 16rem;
            }
        }

        &--small {
            height: 27rem;

            @media screen and (max-width: 768px) {
                height: 29rem;
            }

            @media screen and (max-width: 576px) {
                height: 12.6rem;

            }
        }
    }

    &__img {
        height: 100%;
    }

    &__name {
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-weight: 500;
        color: $black-color;

        @media screen and (max-width: 576px) {
            font-size: 1.6rem;
            line-height: 1.9rem;
        }
    }

    &__all-link {

        @media screen and (max-width: 576px) {
            order: 2;
            margin: 0 auto;
            margin-top: 2rem;
        }
    }

    &__link {
        &:hover .category__name,
        &:focus .category__name {
            color: $gray-color;
        }

        &:hover .category__img,
        &:focus .category__img {
            transform: scale(1.1);
            transition: 0.5s ease-in-out;
        }
    }
}