@import 'variables.scss';

.filters {
    position: relative;

    &__title {
        position: relative;
        border: 2px solid $black-color;
        width: 24.3rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-weight: 500;
        padding: 1.3rem;
        margin-left: auto;

        @media screen and (max-width: 768px) {
            width: 20.6rem;
        }

        @media screen and (max-width: 576px) {
            width: 100%;
        }

        &::after {
            position: absolute;
            content: "";
            width: 1.8rem;
            height: 1.2rem;
            background-image: url('../assets/img/arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
            top: 2.1rem;
            right: 1.8rem;
            transform: rotate(180deg);
            transition: 0.5s ease;

            @media screen and (max-width: 768px)  {
                right: 1rem;
            }
        }

        &--open {
            &::after {
                transform: rotate(0deg);
                top: 1.8rem;
            }
        }
    }

    &__form {
        display: none;
        width: 24.3rem;
        border: 2px solid $black-color;
        border-top: none;
        margin-left: auto;
        position: absolute;
        z-index: 3;
        background-color: $white-color;
        right: 9.8rem;

        @media screen and (max-width: 768px) {
            width: 20.6rem;
            right: 4.5rem;
        }

        @media screen and (max-width: 576px) {
            width: calc(100% - 3rem);
            right: 1.5rem;
        }

        &--show {
            display: block;
        }
    }

    &__set {
        border-bottom: 2px solid #F1F2F4;

        &--color {
            padding-bottom: 1rem;
        }

        &--last {
            margin-bottom: 3.5rem;
        }
    }

    &__name {
        position: relative;
        padding: 1.4rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 500;
        width: 100%;

        &::after {
            position: absolute;
            content: "";
            width: 1.8rem;
            height: 1.2rem;
            background-image: url('../assets/img/arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
            top: 2.1rem;
            right: 1.8rem;
            transform: rotate(180deg);
            transition: 0.3s ease;
        }

        &--open {
            margin-bottom: 1rem;

            &::after {
                transform: rotate(0deg);
                top: 1.9rem;
            }
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1.6rem;
        display: none;

        &--show {
            display: flex;
        }
    }

    &__button {
        width: 100%;
    }

    &__clear {
        width: 100%;
        border: none;
        padding: 2rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 500;
        background-color: transparent;
    }

    &__color {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 1.7rem;
        margin-bottom: 1.6rem;
        border: 2px solid $white-color;

        &:last-of-type {
            margin-right: 0;
        }

        & input[checked] {
            border: 1px solid #B0C3C7;
        }

        &:nth-of-type(1) {
            background-color: #B0C3C7;
        }
        &:nth-of-type(2) {
            background-color: #3B6392;
        }
        &:nth-of-type(3) {
            background-color: #BFC3C8;
        }
        &:nth-of-type(4) {
            background-color: #2D2E2E;
        }
        &:nth-of-type(5) {
            background-color: #ECECEC;
        }
        &:nth-of-type(6) {
            background-color: #4193DA;
            margin-right: 0;
        }
    }

    &__checkbox:checked + .filters__color {
        box-shadow: 0 0 0 2px #B0C3C7;
    }

    &__collection-name {
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 500;
        color: $gray-color;
        margin-right: 3rem;
        margin-bottom: 2rem;
    }

    &__collection:checked + .filters__collection-name {
        color: $black-color;
    }

    &__range-min,
    &__range-max {
        color: $black-color;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: bold;
        width: 50%;
        background-color: transparent;
        border: none;

        &::placeholder {
            color: $black-color;
        }
    }

    &__range-max {
        text-align: right;
    }

    &__range-wrap {
        padding: 3rem;
        display: flex;
    }
}