@import 'variables.scss';

.footer {
    background-color: $black-color;
    padding: 5rem 0;

    @media screen and (max-width: 768px) {
        padding: 4.5rem 0;
    }

    &__list {
        display: flex;
        margin: 0 auto;
        margin-bottom: 3.5rem;
        justify-content: center;
        

        @media screen and (max-width: 768px) {
            padding-left: 3rem;
        }
    }

    &__item {
        margin-right: 3.5rem;
    }

    &__link {
        color: $white-color;
        font-weight: 500;
    }

    &__logo {
        margin-bottom: 3.5rem;

        @media screen and (max-width: 768px) {
            margin-bottom: 3rem;
        }
    }

    &__socials {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 768px) {
            padding-left: 3.5rem;
        }
    }

    &__social-item {
        margin-right: 3rem;

        @media screen and (max-width: 768px) {
            margin-right: 3.8rem;
        }
    }

    &__social-link {
        display: block;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;

        @media screen and (max-width: 768px) {
            width: 1.6rem;
            height: 1.6rem;
        }

        &--facebook {
            background-image: url('../assets/img/facebook.svg');
            background-size: 60%;
        }

        &--inst {
            background-image: url('../assets/img/instagram.svg');
        }

        &--pinterest {
            background-image: url('../assets/img/pinterest.svg');
        }

        &--tweeter {
            background-image: url('../assets/img/tweeter.svg');
        }
    }
}