@import 'variables.scss';

.header {
    position: fixed;
    background-color: $white-color;
    z-index: 11;
    width: 100%;
    top: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__navigation {
        display: flex;
        justify-content: space-between;
    }
    
    &__cart-img {
        width: 2rem;
        height: 2rem;
    }

    &__search-img {
        width: 2rem;
        height: 2rem;
    }

    &__link {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 500;
        color: $black-color;

        &:hover,
        &:focus {
            color: $gray-color;
        }
    }

    &__list {
        display: flex;

        @media screen and (max-width: 576px) {
            display: none;

            &--show {
                display: block;
                position: absolute;
                background-color: $white-color;
                width: 100%;
                left: 0;
                top: 7rem;
                padding: 2rem;
                z-index: 10;

                .header__item {
                    margin-bottom: 1.6rem;
                }

                & ~ .header__burger-menu {
                    display: none;
                }

                & ~ .header__close {
                    display: block;
                }
            }
        }
    }

    &__item {
        margin-right: 3.5rem;
    }

    &__cart {
        margin-right: 3.5rem;

        @media screen and (max-width: 576px) {
            margin-right: 2.5rem;
        }
    }

    &__burger-menu {
        width: 4rem;
        height: 1.5rem;
        background-image: url("../assets/img/menu.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        align-self: flex-end;
        display: none;

        @media screen and (max-width: 576px) {
            display: block;

            &--none {
                display: none;
            }
        }
    }

    &__close {
        display: none;
        font-size: 1.4rem;
        line-height: 1.6rem;

        @media screen and (max-width: 576px) {
            &--show {
                display: block;
            } 
        }
    }

    &__logo {
        margin-right: 15rem;

        @media screen and (max-width: 576px) {
            margin-right: 0;
        }
    }
}