@import 'variables.scss';

.news {
    display: flex;
    margin-bottom: 13rem;
    border: 100px solid red;

    @media screen and (max-width: 768px) {
        margin-bottom: 9rem;
    }

    @media screen and (max-width: 576px) {
        flex-direction: column;
        padding: 200px;
    }

    &__img-wrap  {
        width: 60%;
        display: flex;

        @media screen and (max-width: 768px) {
            width: 52%;
        }

        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }

    &__wrapper  {
        background: repeating-linear-gradient(-45deg, #000000 0, #000000 2px, transparent 2px, transparent 24px); 
        
        @media screen and (max-width: 768px) {
            width: 48%;
        }

        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }

    &__wrap {
        background-color: $gray-background;
        padding: 7rem 11.2rem 7rem 7rem;
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        margin-right: 6rem;

        @media screen and (max-width: 768px)  {
            margin: 2rem 0;
            margin-right: 2rem;
            padding: 4.5rem 3.6rem 5rem 5rem;
        }
    }

    &__desc {
        color: $gray-color;
        margin-bottom: 0.5rem;
    }

    &__title {
        margin-bottom: 4rem;

        @media screen and (max-width: 768px)  {
            margin-bottom: 3rem;
        }
    }

    &__link {
        margin-right: 1.5rem;

        @media screen and (max-width: 768px)  {
            margin-right: 6.5rem;
        }
    }
}