@import 'variables.scss';

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__list  {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__subtile {
        margin-bottom: 6rem;
    }

    &__item {
        width: 23%;

        @media screen and (max-width: 768px) {
            width: 48%;
            margin-bottom: 5rem;
        }
    }

    &__img {
        height: 35rem;
        margin-bottom: 2.3rem;
    }

    &__title {
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: $black-color;
        font-weight: 500;
    }

    &__price {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: bold;
        color: $black-color;
    }

    &__view-all {

        @media screen and (max-width: 576px) {
            order: 1;
            width: 7rem;
            margin: 0 auto;
        }
    }
}