@import 'variables.scss';

.result {
    display: flex;
    flex-direction: column;

    &__title {
        align-self: center;
        margin-bottom: 0.7rem;

        @media screen and (max-width: 768px) {
            margin-bottom: 0;
        }

        @media screen and (max-width: 576px) {
            font-size: 1.6rem;
            line-height: 1.9rem;
            margin-bottom: 1rem;
        }
    }

    &__more {
        align-self: center;
        width: 20rem;

        @media screen and (max-width: 576px) {
            width: 17.7rem;
        }
    }

    &__bar {
        position: relative;
        width: 20rem;
        height: 0.2rem;
        background-color:  #E5E5E5;
        align-self: center;
        margin-bottom: 4rem;    
        
        @media screen and (max-width: 576px) {
            width: 17.7rem;
            margin-bottom: 3rem;
        }
    }

    &__inner-bar {
        position: absolute;
        width: 20%;
        height: 0.2rem;
        background-color: $black-color;
    }
}