.ui-slider {
    width: 85%;
    height: 0.2rem;
    background-color: #F1F2F4;
    margin: 0 auto;
}

.ui-slider-handle {
    width: 1.6rem;
    height: 1.6rem;
    background: #151C22;
    border-radius: 50%;
}

.ui-slider-range {
    background:#151C22;
    height: 0.2rem;
}